 
           <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= image_tag("logo.jpg", :size => "75x75",:alt => "image_not_loading") %>
       
          <ul class="nav navbar-nav navbar-right">
         
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Signup",   new_user_path %></li>
            

            <li><%= link_to "log out", login_path%></li>
             <li><%= link_to "Events", events_list_path%></li>
            
          </ul>
        
      </div>
    </header>
<center><h1>Create new event</h1></center>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <div class="well">
    <%= form_for :event, url: event_create_path(current_user) do |f| %>
     

      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>

          <%= f.label :venu %>
      <%= f.text_field :venu, class: "form-control" %>

      <%= f.label :description %>
      <%= f.text_area :description, size: "10x3", class: "form-control" %><br>
     <div class="date_select">
      <%= f.label :event_date %>
      <%= f.date_select :date, class: "form-control"%>
      </div><br>
      <div class="date_select">
      <%= f.label :event_time %>
      <%= f.time_select :time, class: "form-control"%>
      </div>
      <br>
       <%= f.label :participants %><br>
       <%= f.fields_for :participants do |e|%>
        <% User.all.each do |d|%>
        <%= check_box_tag "invite[]", d.id%>
        <%= d.first_name %><br>

        <% end %>
        <% end %>
        <br>
      <%= f.label :status %>
      <%= f.select :status, [ 'Open', 'Close']%>
     
   <br>
   <br>
   <span style="padding-left: 230px">
      <%= f.submit "Create event", class: "btn btn-primary"%></span>
    <% end %>
  </div>
  </div>
</div>

