<!DOCTYPE html>
<html>
<head>
  <title>EventScheduling</title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= image_tag("logo.jpg", :size => "75x75",:alt => "image_not_loading") %>
          <ul class="nav navbar-nav navbar-right">
           <li><h2 class="heading"><%= link_to "Event Scheduling", root_path %></h2></li>
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Signup",   new_user_path %></li>
            <!--  -->

            <li><%= link_to "log in", login_path%></li>
            
          </ul>
        
      </div>
    </header>
<div class="container">
<% flash.each do |type,message| %>
 <div class="alert alert-<%= type  %>"><%= message %></div>
<% end %>

</div>
<%= yield %>
<br><br><br>
<footer class="footer">
 <div class="well">
 <small><center>
   <a href="">Event Scheduling</a>
 </small>
 <br>
 <p> All copyrights © reserved by Qwinix</p></center>
 </div>
</footer>
</body>
</html>

